<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">WebUI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass bg-gray-300 w-32" @onclick="ToggleNavMenu">
    <ul class="nav block w-full flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/login">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/register">
                <span class="oi oi-plus" aria-hidden="true"></span> Register
            </a>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : "w-1/4";

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
